In [1]:
import pandas as pd

# Step 1: Load each dataset individually (replace the paths with actual file paths)
df_2021 = pd.read_csv('/Users/aditya/Desktop/HAB/Environmental_Conditions/2021.csv')
df_2022 = pd.read_csv('/Users/aditya/Desktop/HAB/Environmental_Conditions/2022.csv')
df_2023 = pd.read_csv('/Users/aditya/Desktop/HAB/Environmental_Conditions/2023.csv')

# Step 2: Combine the datasets into a single DataFrame
df_combined = pd.concat([df_2021, df_2022, df_2023])

# Step 3: Check the combined DataFrame
df_combined.head()

/var/folders/f3/ngl4f6sj0kbdxphth1sf8hfw0000gn/T/ipykernel_48207/300644814.py:4: DtypeWarning: Columns (7,9,13,15,17,19,21,27,29,31,33,35,37,45,49,51,53,55,57,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv('/Users/aditya/Desktop/HAB/Environmental_Conditions/2021.csv')
/var/folders/f3/ngl4f6sj0kbdxphth1sf8hfw0000gn/T/ipykernel_48207/300644814.py:5: DtypeWarning: Columns (7,9,13,15,17,19,21,27,29,31,33,35,37,45,47,49,51,53,55,57,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv('/Users/aditya/Desktop/HAB/Environmental_Conditions/2022.csv')
/var/folders/f3/ngl4f6sj0kbdxphth1sf8hfw0000gn/T/ipykernel_48207/300644814.py:6: DtypeWarning: Columns (7,9,13,15,17,19,21,27,29,31,33,35,37,45,49,51,53,55,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv('/Users/aditya/Desktop/HAB/Environmental_Conditions/2023.csv')

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,EVAP,EVAP_ATTRIBUTES,...,WT05,WT05_ATTRIBUTES,WT06,WT06_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES
0,US1NJHN0019,"LEBANON 3.2 SW, NJ US",40.606374,-74.871037,83.8,2021-01-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NJHN0019,"LEBANON 3.2 SW, NJ US",40.606374,-74.871037,83.8,2021-01-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NJHN0019,"LEBANON 3.2 SW, NJ US",40.606374,-74.871037,83.8,2021-01-03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NJHN0019,"LEBANON 3.2 SW, NJ US",40.606374,-74.871037,83.8,2021-01-04,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NJHN0019,"LEBANON 3.2 SW, NJ US",40.606374,-74.871037,83.8,2021-01-05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN